<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--  Connexion à la base de données  -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/coiffdb</property>
    <property name="hibernate.connection.username">root</property>
    <!--  Dialecte Hibernate  -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!--  Entities mappées  -->
    <!--  Déclare ici toutes tes entités  -->
    <mapping class="com.example.hiarflow.model.Coiffeur"/>
    <mapping class="com.example.hiarflow.model.Rendezvous"/>
    <mapping class="com.example.hiarflow.model.Admin"/>
    <!--  + ajouter d'autres classes  -->
  </session-factory>
</hibernate-configuration>